/* ------------------------------- BACKGROUND ------------------------------- */
html {
    background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* ---------------------------------- FONT ---------------------------------- */
  body {
    font-family: "Raleway", sans-serif;
    line-height: 2.0;
    font-weight: bold;
  }
  
/* --------------------------------- HEADER --------------------------------- */
header {
  padding: 20px;
}

.navbar {
  opacity: 0.3;
  padding-top: 5px;
  position: fixed;
  top: 0;
  right: 0
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}


header nav a {
  color: rgb(75, 75, 75);
}

header img {
  position: fixed;
  top:0;
}

.dropdown-content {
  display: none;
}


/* ---------------------------------- ABOUT --------------------------------- */
.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  margin-right: 300px;
  width: 500px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 100px;

}

h2 {
  font-weight: bold;
}

.postContainer {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  width: 500px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 50px;
}



/* --------------------------------- FOOTER --------------------------------- */


 footer {
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(75, 75, 75);
}

