<div class="card">
      <img src="" id="img-preview" />
      <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an Image
      </label>
    </div>