
<header>
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link pl-5 mr-5"></a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="../about/about.html">
            ABOUT
          </a>
          <a class="navbar-item" href="../contact/contact.html">
              CONTACT
            </a>
        </div>
      </div>
    </nav>
</header>
<!-- -------------------- EMAIL & PASSWORD INPUT FIELD -------------------- -->
  <main>
    <section class="section">
      <container id="inputContainer">
        <div>
          <img src="/assets/images/logo6.png" height="250px" width="250px" alt="logo">
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" style="width: 270px" placeholder="Email">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" style="width: 270px" placeholder="Password">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
      </container>
        <!-- ------------------- LOGIN - SIGN UP - BUTTONS ------------------- -->
        <div class="btnContainer">
         <div class="field is-grouped pt-5">
          <p class="control"><button class="button">Login</button></p>
          <p class="control"><button class="button">Sign up</button></p>
      </div>
        </div>
    </section>
  <!-- ------------------------------- FOOTER -------------------------------- -->
  <footer>
  <h3 class="has-text-centered">
    &copy;KIT 2022
  </h3>
