<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keep In Touch</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/278bcfc599.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  <link rel="stylesheet" href="/stylesheets/login.css"> 
  <link rel="stylesheet" href="/stylesheets/style.css"> 
  <link rel="stylesheet" href="/stylesheets/about.css"> 
  <link rel="stylesheet" href="/stylesheets/cloud.css"> 
  <link rel="stylesheet" href="/stylesheets/nav.css">

</head>

{{> nav }}

<body>

    {{{body}}}
    {{!-- {{> footer}} --}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/cloud.js"></script>

</body>
<br><br><br><br>
    {{> footer}}

</html>