<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keep In Touch</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
 <nav>
<header>
    <h1>
      <a href="/">Keep In touch</a>
    </h1>
</header>

  <button id="logout" class="btn-no-style">logout</button>
  <a href="/login">login</a>
</nav>
<body class="flex-column min-100-vh">
  <main class="col-auto">
    {{{body}}}
  </main>
</body>
<script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script>
</html>
