<form class="new-post-form">
    <div >
        <label for="new-post-title">Title</label>
        <input type="text" id="new-post-title"/>
    </div>
     <div >
        <label for="new-post-content">content</label>
        <textarea type="text" id="new-post-content"></textarea>
    </div>
    <button type="submit">save</button>
</form>

<script src="/javascript/new.js"></script>