/* ------------------------------- BACKGROUND ------------------------------- */
html {
  /* background: url(../assets/images/clouds.jpeg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/* --------------------------------- HEADER --------------------------------- */

.navbar {
  opacity: 0.2;
  padding-top: 5px;
  position: fixed;
  top: 0;
  right: 0
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

header li {
  list-style: none;
  float: right;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header nav ul li a {
  color: black;
  font-weight: bold;
}

header nav a {
  color: rgb(75, 75, 75);
}

#inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* --------------------------------- BUTTONS -------------------------------- */
.btnContainer {
  display: flex;
  justify-content: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  border: none;
  opacity: 0.3;
  /* background-color: #d4e9ff; */
}

p .button {
  color: rgb(75, 75, 75);
}

p .button:hover {
  color: black;
}



