body {
  background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  /* ---------------------------------- PROFILE INFORMATION ---------------------------------- */
.userProfileName{
  padding: 20px;
}

.infoContainer {
  margin-left: 20px;
}

.title {
  color: rgb(75, 75, 75);
  padding-left: 25px;
  padding-top: 20px;
}


.imgContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-after;
  align-items: center;
}

.field {
  opacity: 0.1;
}

.info a {
  color: rgb(75, 75, 75);
  font-size: 15px;
}


/* ----------------------------------- BIO ---------------------------------- */

.bioContent {
  width: 600px;
  margin-right: 230px;
  margin-left: 50px;
  margin-top: 50px;
}

.bio {
  font-size: 20px;
  font-weight: bold;
}

.bioConent {
  display: flex;
  flex-basis: 70%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* .bioContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 300px;
} */

/* ---------------------------------- POSTS --------------------------------- */
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer {
  display: flex;
  flex-direction: column;
  border: 0.5px solid white;
  width: 500px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 50px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  opacity: 0.5;
}

.button:hover {
  background-color: #ccc;
}

.postDateAndTime {
  float: right;
}

/* -------------------------------- COMMENTS -------------------------------- */
.collapsible {
  cursor: pointer;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  color: black;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.comments {
  font-weight: lighter;
  text-align: center;
  /* background-color: white; */
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* border-radius: 25px; */
}

.commentsContainer {
  opacity: 0.5;
}

.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
}

.active:after {
  content: "\2796";
  padding-top: 3px;
}

.commentDateAndTime {
  display: flex;
  flex-direction: row;
}

/* Write a post container styling STARTS here */
.writePostContainer {
  display: flex;
  flex-direction: column;
  border: none;
  width: 700px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
   border: 0.5px solid rgb(245, 244, 244);
}

.postInput {
  max-width: 500px;
  padding: 20px;
}
 
.postButton {
  margin-left: 20px;
  margin-right: 35px;
  width: 100px;
  background-color: #7258BF;
  border: none;
  color: white;
}

.postButton:hover {
  background-color: white;
  color: #7258BF;
}

.postBtnContainer {
  display: flex;
  flex-direction: row;
  margin: 0%;
}
/* Write a post container styling ENDS here */



/* This the post text */
.postName {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/* This is the button next to the comment input */
.btnContainer {
  padding-left: 20px;
}

.commentInput {
  max-width: 100%;
  margin: 10px;
}

.send {
  margin: 10px;
  width: 100px;
  color: black;
  border: none;
  opacity: 0.5;
}

.send:hover {
  background-color: white;
  color:rgb(75, 75, 75);
  opacity: 1.0;
}

.likeButton {
  border: none;
  border-radius: 25px;
  background-color: white;
  margin: 0px 5px 0px 5px;
}

.fa-heart, .fa-trash {
  color: #7258BF;
}

.fa-comments {
  color: #7258BF;
  margin-left: 25px;
  margin-top: 0%
}

.fa-comments:hover {
  color: rgb(249, 154, 209);
}


.fa-heart:hover, .fa-trash:hover {
  color: rgb(249, 154, 209);
}

/* writeCommentContainer */

.writeCommentContainer {
  display: flex;
  flex-direction: column;
  border: none;
  width: 800px;
  width: 450px;
  padding-left: 10px;
}

.commentInput {
  max-width: 500px;
}

.commentButton {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  width: 100px;
  background-color: #7258BF;
  border: none;
  color: white;
}

.profileName {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(80, 73, 73);
  margin-top: 10px;
}

.postTitle {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 12px;
}

/* CARDS */

.commentMainBox {
  padding-left: 20px;
  height: 300px;
  width: 20em;
  margin-top: 70px;
  font: 1.8rem/1.4 Georgia, serif;
  font-style: italic;
  border: rgb(249, 247, 247) solid 1px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 8px #d0d0d0;

}

.postTitle {
  font-size: 20px;
  font-style: normal;
}

.commentBtn {
  width: 60px;
  margin: 0%;
}

.commentForm {
  width: 20em;
  margin-top: 20px;
}

.commentBox {
  padding: 10px;
  margin: 10px 0px 10px 25px;
  width: 26em;
  border: rgb(129, 24, 94) solid 1px;
  border-radius: 0px 20px 15px 20px; 
}

.commentsBox {
  margin-left: 15%;
  width: 500px;
  text-align: left;
}

.postContainer {
  margin: 5px 0px 0px 10%;
  padding: 5px 5px 5px 0px;
}

.likeIconContainer {
  width: 300px;
  margin: 10px 0 0 10%;
  text-align: left;
  /* border: rgb(77, 5, 44) solid 1px;
  border-radius: 0px 20px 15px 20px;  */
}

.homeCommentBox {
  margin-top: 15px;
  width: 500px;
  text-align: left;
  border: rgb(185, 73, 182) solid 1px;
  border-radius: 0px 20px 15px 20px; 

}

.commentName {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

.homeCommentContent {
  font-style: italic;
  padding-left: 10px;
}

.homeTitleInputBox {
  text-align: left;
  width: 300px;
  padding: 18px;
  border-radius: 20px;
  background-color: white;
  margin: 0px 0px 0px 35px;
}

.homePostTitle {
  font-size: small;
}

/* Dashboard */

.bioContainer {
    border: rgb(77, 5, 44) solid 1px;
  border-radius: 0px 20px 15px 20px; 
}

.postDate {
  font-size: xx-small;
  font-weight: lighter;
  padding-bottom: 2px;
}

.dashboardImage {
  display: flex;
  justify-content:space-between;
  width: 300px;
  /* border: rgb(77, 5, 44) solid 1px;
  border-radius: 0px 20px 15px 20px;
  text-align: center; */
}

.headerLogo {
  margin: 0%;
}

.postedBy {
  font-style: normal;
  font-size: medium;
}

.postedByContainer {
  width: 600px;
  height: 20px;
}

.dashProfileInfo {
  color: #573b8a;
  width: 500px;
  justify-content: space-around;
}

.commentText {
  width: 400px;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 10px;
}

hr{
  height: 1px;
  background-color: #ccc;
  border: none;
}

/*  */
.flex-container {
  font-size: large;
  width: 38vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-bottom: 0%;
  margin: 0;
}

.flex-left {
  width: 10%;
  height: 6vh;
  /* margin: 5px;
  padding: 5px; */
  /* border: 2px solid red; */
}

.flex-right {
  padding-top: 10px;
  width: 80%;
  /* margin: 5px;
  padding: 5px; */
  /* border: 2px solid green; */
}

/*  */

.close {
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(45deg);
  width: 25px;
}

/* -------------------------------- COMMENTS -------------------------------- */
.collapsible {
  padding-left: 30px;
  cursor: pointer;
  width: 22%;
  border:#7258BF solid 1px;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 12px;
  background-color: white;
  opacity: .5;
  margin-left: 70px;
}

.active,
.collapsible:hover {
  color: rgb(75, 75, 75);
  opacity: 100%;
}

/* .commentContainer {
  border-bottom: 0.5px solid rgb(75, 75, 75);;
  float: right;
  border-radius: 0.25;
} */

.comments {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 25px;
}

.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
}

.active:after {
  content: "\2796";
  padding-top: 3px;
}
/* 
.commentDateAndTime {
  display: flex;
  flex-direction: row;
} */

.flex-left-home {
  width: 75%;
}

.flex-right-home {
  width: 25%;
}